parameters:
	ignoreErrors:
		-
			message: "#^Method Keboola\\\\CsvMap\\\\Exception\\\\CsvMapperException\\:\\:getData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Exception/CsvMapperException.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Exception\\\\CsvMapperException\\:\\:setData\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Exception/CsvMapperException.php

		-
			message: "#^Property Keboola\\\\CsvMap\\\\Exception\\\\CsvMapperException\\:\\:\\$data has no type specified\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Exception/CsvMapperException.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Mapper\\:\\:__construct\\(\\) has parameter \\$mapping with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Mapper\\:\\:__construct\\(\\) has parameter \\$type with no type specified\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Mapper\\:\\:addParentPK\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Mapper\\:\\:addParentPK\\(\\) has parameter \\$colName with no type specified\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Mapper\\:\\:checkPrimaryKeyValues\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Mapper\\:\\:checkPrimaryKeyValues\\(\\) has parameter \\$values with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Mapper\\:\\:expandShorthandDefinitions\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Mapper\\:\\:getHeader\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Mapper\\:\\:getParser\\(\\) has parameter \\$key with no type specified\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Mapper\\:\\:getParser\\(\\) has parameter \\$settings with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Mapper\\:\\:getParser\\(\\) should return static\\(Keboola\\\\CsvMap\\\\Mapper\\) but returns Keboola\\\\CsvMap\\\\Mapper\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Mapper\\:\\:getPrimaryKey\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Mapper\\:\\:getPrimaryKeyValues\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Mapper\\:\\:getPrimaryKeyValues\\(\\) has parameter \\$row with no type specified\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Mapper\\:\\:getPrimaryKeyValues\\(\\) has parameter \\$userData with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Mapper\\:\\:getResultFile\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Mapper\\:\\:mapRow\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Mapper\\:\\:mapRow\\(\\) has parameter \\$row with no type specified\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Mapper\\:\\:mapRow\\(\\) has parameter \\$userData with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Mapper\\:\\:parse\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Mapper\\:\\:parse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Mapper\\:\\:parse\\(\\) has parameter \\$userData with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Mapper\\:\\:parseRow\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Mapper\\:\\:parseRow\\(\\) has parameter \\$userData with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Mapper\\:\\:setParentKey\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Mapper\\:\\:setParentKey\\(\\) has parameter \\$colName with no type specified\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\Mapper\\:\\:setParentKey\\(\\) has parameter \\$keys with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Property Keboola\\\\CsvMap\\\\Mapper\\:\\:\\$mapping type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Property Keboola\\\\CsvMap\\\\Mapper\\:\\:\\$parentKey type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Property Keboola\\\\CsvMap\\\\Mapper\\:\\:\\$result \\(Keboola\\\\CsvTable\\\\Table\\) in empty\\(\\) is not falsy\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Keboola/CsvMap/Mapper.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperEmptyRelationTest\\:\\:getSampleDataMulti\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperEmptyRelationTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperEmptyRelationTest\\:\\:getSampleDataMultiFirstEmpty\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperEmptyRelationTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperEmptyRelationTest\\:\\:getSampleDataSimple\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperEmptyRelationTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperEmptyRelationTest\\:\\:testParseEmptyRelation\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperEmptyRelationTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperEmptyRelationTest\\:\\:testParseEmptyRelationFew\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperEmptyRelationTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperNotAllowedPrimaryKeyValueTest\\:\\:getSampleData\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperNotAllowedPrimaryKeyValueTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperNotAllowedPrimaryKeyValueTest\\:\\:testNotAllowedPrimaryKeyValue\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperNotAllowedPrimaryKeyValueTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperShorthandTest\\:\\:getSampleData\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperShorthandTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperShorthandTest\\:\\:testParseShorthand\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperShorthandTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperShorthandTest\\:\\:testParseShorthandWithRelation\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperShorthandTest.php

		-
			message: "#^Cannot access offset 0 on array\\<int, string\\>\\|false\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:getMixedData\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:getSampleData\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:getSampleDataSimple\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:testArrayItemToColumn\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:testArrayToString\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:testArrayToTable\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:testChildSameParser\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:testDataInjection\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:testDataInjectionNoData\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:testDataInjectionPK\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:testDeepNestedTable\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:testDisableParentKey\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:testDontWriteHeader\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:testEmptyArray\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:testEmptyString\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:testMixedDataError\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:testNoDestinationNestedTable\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:testNoDestinationTable\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:testNoMappingKeyColumn\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:testNoTableMapping\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:testObjectToColumnError\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:testObjectToTable\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:testParentKeyDestination\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:testParentKeyPK\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:testParse\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:testParseCompositePK\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:testParseNoPK\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:testPrimaryKey\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:testStringToArray\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperTest\\:\\:testUserDataPropagation\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Parameter \\#1 \\$data of method Keboola\\\\CsvMap\\\\Mapper\\:\\:parse\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperWrongPathTest\\:\\:getSampleDataMulti\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperWrongPathTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperWrongPathTest\\:\\:getSampleDataSimple\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperWrongPathTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperWrongPathTest\\:\\:testParseWrongBothMainAndRelation\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperWrongPathTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperWrongPathTest\\:\\:testParseWrongMain\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperWrongPathTest.php

		-
			message: "#^Method Keboola\\\\CsvMap\\\\MapperWrongPathTest\\:\\:testParseWrongRelation\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Keboola/CsvMap/MapperWrongPathTest.php

